
.navbar-custom .navbar-brand {
  color: #fed136;
   font-family: 'Sansita One', cursive;
}

.needspacing{
    margin-top:10px;
}

#mainNav {
    background-color: black;
 
}

.navbar-brand {
    font-size: 28px;
}

give_padding {
    padding-top: 2%;
}

table img {
    width: 100px;
    height: 100px;
}

td, th {
    text-align: center;
}

section {
     padding:  100px 0; 
}

.color_edit {
    color:blue;
}

.color_remove, .error_msg {
    color:red;
}

.index_body {
    background-image: url('../img/header-bg.jpg') no-repeat center center fixed;
    
    text-align: center;
    color: white;
}

